.register-page {
  .bottom-section {
    text-align: center;
    .txt {
      color: #9098B1;
      font-size: 12px;
      .txt-signin {
        color: #40BFFF;
        font-weight: bold;
      }
    }
  }
}